/* Dark Theme */

.dark-wrapper {
    background-image: url(https://shpilson.github.io/shpilson/img/dark-bg.png);
    background-position: center;
    background-color: #000000;
    color: #FFFFFF;
}

.dark-introduce {
    color: #FFFFFF;
}

.dark-menu {
    color: #E5E5E5;
}

.dark-works {
    background: #050127;
}

.dark-title {
    color: #FFFFFF;
}