/* Basic */

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Montserrat"), url('https://shpilson.github.io/shpilson/fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Montserrat"), url('https://shpilson.github.io/shpilson/fonts/Montserrat-Bold.ttf') format('ttf');
}

@font-face {
    font-family: "Monaco";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Montserrat"), url('https://shpilson.github.io/shpilson/fonts/Monaco-Regular.woff2') format('woff2');
}

body {
    font-family: "Montserrat", sans-serif;
}

/* Styles */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Container */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(https://shpilson.github.io/shpilson/img/Code-Header.png);
    background-position: center;
}

.header__menu {
    margin: 50px 0 0 0;

    text-align: center;
    align-items: center;
}

.header__menu-list {}

.header__menu-list-item {
    display: inline-block;
    padding: 0px 50px 0px 0px;
}

.header__menu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #303030;
}

.header__menu-link:hover {
    color: #85D6F7;
    text-decoration: underline;
}

.header__switcher {}

.header__switcher-btn {}

.header__logo {}

.header__logo-text {}

.header__languages {}

.header__languages-list {}

.header__languages-list-item {}

.header__languages-link {}

.header__introduce {}

.header__introduce-text {}

.about {}

.about__title {}

.title {}

.about__skills {}

.about__skill {}

.about__skill-img {}

.about__skill-box {}

.about__undertitle {}

.about__text {}

.works {}

.works__title {}

.works__slider {}

.works__slider-left-btn {}

.works__box {}

.works__card {}

.works__item {}

.works__img {}

.works__category {}

.works__description {}

.works__slider-right-btn {}

.works__all-btn {}

.cv {}

.cv__box {}

.cv__skills-left {}

.cv__skill {}

.cv__title {}

.cv__description {}

.cv__description--grey {}

.cv__job {}

.description--green-bg {}

.cv__skills-right {}

.contacts {}

.contacts__box {}

.contacts__title {}

.contacts__link {}

.contacts__social {}

.contacts__social-link {}

.contacts__social-image {}