/* Basic */

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Montserrat"), url('https://shpilson.github.io/shpilson/fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Montserrat"), url('https://shpilson.github.io/shpilson/fonts/Montserrat-Bold.ttf') format('ttf');
}

@font-face {
    font-family: "Monaco";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Monaco"), url('https://shpilson.github.io/shpilson/fonts/Monaco-Regular.woff2') format('woff2');
}

body {
    font-family: "Montserrat", sans-serif;
}

/* Styles */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: url(https://shpilson.github.io/shpilson/img/Code-Header.png);
    background-position: center;
}

/* Container */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {}

.header__menu {
    display: flex;
    justify-content: center;
}

.header__menu-list {}

.header__menu-list-item {
    display: inline-block;
    padding: 50px 50px 0px 0px;
}

.header__menu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #303030;
}

.header__menu-link:hover {
    color: #85D6F7;
    text-decoration: underline;
}

.header__switcher {
    display: flex;
    text-align: center;
    align-items: end;
}

.header__switcher-btn {
    display: inline-block;
    position: relative;
}

.header__logo {
    margin: 60px 0 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.header__logo-text {
    font-family: Monaco;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
}

.header__logo-bracket {
    color: #FFD700;
}

.header__logo-mark {
    color: #85D6F7;
}

.header__languages {
    margin: 55px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__languages-list {
    display: flex;
}

.header__languages-list-item {
    padding: 0 20px 0 0;
}

.header__languages-link {
    border: #C9C9C9 1px solid;
    border-radius: 50px;
}

.header__introduce {
    text-align: center;
}

.header__introduce-text {
    font-family: Monaco, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.about {
    margin: 100px 0 0 0;
}

.about__title {
    text-align: center;
}

.title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.about__skills {
    margin: 75px 200px 90px;
    display: flex;
}

.about__skill {}

.about__skill-img {
    margin: 0 0 25px 15px;
}

.about__skill-box {
    padding: 0 80px 0 0;
}

.about__undertitle {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #303030;
    margin: 0 0 10px 0;
}

.about__text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #303030;
}

.works {
    background: #FFFBF4;
}

.works__title {
    margin: 100px auto;
    text-align: center;
}

.works__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works__slider-btn {
    color: #FFF;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    background: #FFB534;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.works__box {
    display: flex;
}

.works__card {
    background: #FFF;
    width: 500px;
    height: 350px;
    padding: 0 20px;
}

.works__item {}

.works__img {
    
}

.works__category {}

.works__description {}

.works__all-btn {}

.cv {}

.cv__box {}

.cv__skills-left {}

.cv__skill {}

.cv__title {}

.cv__description {}

.cv__description--grey {}

.cv__job {}

.description--green-bg {}

.cv__skills-right {}

.contacts {}

.contacts__box {}

.contacts__title {}

.contacts__link {}

.contacts__social {}

.contacts__social-link {}

.contacts__social-image {}